#### **2. requirements.txt**
Action: file_editor view /app/backend/requirements.txt
Observation: /app/backend/requirements.txt:
1|annotated-types==0.7.0
2|anyio==4.11.0
3|black==25.9.0
4|boto3==1.40.39
5|botocore==1.40.39
6|certifi==2025.8.3
7|cffi==2.0.0
8|charset-normalizer==3.4.3
9|click==8.3.0
10|cryptography==46.0.1
11|dnspython==2.8.0
12|ecdsa==0.19.1
13|email-validator==2.3.0
14|fastapi==0.110.1
15|flake8==7.3.0
16|h11==0.16.0
17|httpcore==1.0.9
18|httpx==0.28.1
19|idna==3.10
20|iniconfig==2.1.0
21|isort==6.0.1
22|jmespath==1.0.1
23|jq==1.10.0
24|markdown-it-py==4.0.0
25|mccabe==0.7.0
26|mdurl==0.1.2
27|motor==3.3.1
28|mypy==1.18.2
29|mypy_extensions==1.1.0
30|numpy==2.3.3
31|oauthlib==3.3.1
32|packaging==25.0
33|pandas==2.3.2
34|passlib==1.7.4
35|pathspec==0.12.1
36|platformdirs==4.4.0
37|pluggy==1.6.0
38|pyasn1==0.6.1
39|pycodestyle==2.14.0
40|pycparser==2.23
41|pydantic==2.11.9
42|pydantic_core==2.33.2
43|pyflakes==3.4.0
44|Pygments==2.19.2
45|PyJWT==2.10.1
46|pymongo==4.5.0
47|pytest==8.4.2
48|python-dateutil==2.9.0.post0
49|python-dotenv==1.1.1
50|python-jose==3.5.0
51|python-multipart==0.0.20
52|pytokens==0.1.10
53|pytz==2025.2
54|requests==2.32.5
55|requests-oauthlib==2.0.0
56|rich==14.1.0
57|rsa==4.9.1
58|s3transfer==0.14.0
59|s5cmd==0.2.0
60|shellingham==1.5.4
61|six==1.17.0
62|sniffio==1.3.1
63|starlette==0.37.2
64|typer==0.19.2
65|typing-inspection==0.4.1
66|typing_extensions==4.15.0
67|tzdata==2025.2
68|urllib3==2.5.0
69|uvicorn==0.25.0
70|watchfiles==1.1.0
71|

